Source: python-setproctitle
Section: python
Priority: extra
Maintainer: Örjan Persson <orange@fobie.net>
Uploaders: Andreas Schuldei <andreas@debian.org>
Build-Depends: debhelper, gcc, python-all-dev, python-all-dbg, python3-all-dev,
 python3-all-dbg, python-support, python-nose, python3-nose, procps
X-Python-Version: >= 2.4
X-Python3-Version: >= 3.0
Standards-Version: 3.9.3
Homepage: https://github.com/dvarrazzo/py-setproctitle

Package: python-setproctitle
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}
Description: setproctitle implementation for Python
 The library allows a process to change its title (as displayed by system tools
 such as ps and top).
 .
 Changing the title is mostly useful in multi-process systems, for example when
 a master process is forked: changing the children's title allows one to
 identify the task each process is busy with. The technique is used by
 PostgreSQL and the OpenSSH Server for example.

Package: python-setproctitle-dbg
Section: debug
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends},
 python-setproctitle (= ${binary:Version})
Description: setproctitle implementation for Python
 The library allows a process to change its title (as displayed by system tools
 such as ps and top).
 .
 This is the debugging symbols for setproctitle.

Package: python3-setproctitle
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}
Description: setproctitle implementation for Python
 The library allows a process to change its title (as displayed by system tools
 such as ps and top).
 .
 Changing the title is mostly useful in multi-process systems, for example when
 a master process is forked: changing the children's title allows one to
 identify the task each process is busy with. The technique is used by
 PostgreSQL and the OpenSSH Server for example.
 .
 This is the Python 3 package for setproctitle.

Package: python3-setproctitle-dbg
Section: debug
Architecture: any
Depends:${shlibs:Depends}, ${misc:Depends}, ${python3:Depends},
 python3-setproctitle (= ${binary:Version})
Description: setproctitle implementation for Python
 The library allows a process to change its title (as displayed by system tools
 such as ps and top).
 .
 This is the Python 3 debugging symbols for setproctitle.
