#!/usr/bin/make -f

PYVERSIONS := $(shell pyversions -vr debian/control)
PY3VERSIONS := $(shell py3versions -vr debian/control)

%:
	dh $@ --with python2,python3

override_dh_auto_clean:
	for v in $(PY3VERSIONS); do \
		rm -rf py3-$$v; \
	done
	for v in $(PYVERSIONS) $(PY3VERSIONS); do \
		rm -rf build/test.$$v; \
	done
	dh_auto_clean

override_dh_auto_build:
	for v in $(PYVERSIONS); do \
		python$$v setup.py build; \
		python$$v-dbg setup.py build; \
	done
	for v in $(PY3VERSIONS); do \
		mkdir -p py3; \
		cp -r tests/ py3/tests/; \
		PYTHON=python$$v PY2TO3=2to3-$$v make py3; \
		mv py3 py3-$$v/; \
		python$$v py3-$$v/setup.py build; \
		python$$v-dbg py3-$$v/setup.py build; \
	done

override_dh_auto_install:
	for v in $(PYVERSIONS); do \
		python$$v setup.py install --skip-build --root=$(CURDIR)/debian/tmp --install-layout=deb; \
		python$$v-dbg setup.py install --root=$(CURDIR)/debian/tmp --install-layout=deb; \
	done
	for v in $(PY3VERSIONS); do \
		python$$v py3-$$v/setup.py install --skip-build --root=$(CURDIR)/debian/tmp --install-layout=deb; \
		python$$v-dbg py3-$$v/setup.py install --skip-build --root=$(CURDIR)/debian/tmp --install-layout=deb; \
	done
	dh_install

override_dh_installchangelogs:
	dh_installchangelogs HISTORY.rst

override_dh_strip:
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	dh_strip -ppython-setproctitle --dbg-package=python-setproctitle-dbg
	dh_strip -ppython3-setproctitle --dbg-package=python3-setproctitle-dbg
endif

override_dh_auto_test:
ifeq (,$(findstring nocheck,$(DEB_BUILD_OPTIONS)))
ifeq (,$(findstring kfreebsd,$(shell dpkg-architecture -qDEB_BUILD_ARCH_OS)))
	for v in $(PYVERSIONS); do \
		rm -f tests/pyrun2; \
		PYTHON=python$$v make tests/pyrun2; \
		mkdir -p build/test.$$v/tests; \
		mv tests/pyrun2 build/test.$$v/tests/; \
		python$$v setup.py install --skip-build --install-lib build/test.$$v; \
		cd build/test.$$v nosetests-$$v -v ../../tests; \
	done
	# TODO 2to3 will not fix the dynamic python stuff
	for v in $(PY3VERSIONS); do \
		rm -f tests/pyrun3; \
		PYTHON=python$$v make tests/pyrun3; \
		mkdir -p build/test.$$v/tests; \
		mv tests/pyrun3 build/test.$$v/tests/; \
		python$$v py3-$$v/setup.py install --skip-build --install-lib build/test.$$v; \
		cd build/test.$$v && nosetests-$$v -v --exclude=test_embedded ../../py3-$$v/tests || true; \
	done
endif
endif

.PHONY: override_dh_auto_clean override_dh_auto_build override_dh_auto_install override_dh_installchangelogs override_dh_strip override_dh_auto_test
